beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.8.3
charset-normalizer==3.4.3
dotenv==0.9.9
greenlet==3.2.4
idna==3.10
lxml==6.0.0
pillow==12.0.0
pyaes==1.6.1
pyasn1==0.6.1
python-docx==1.2.0
python-dotenv==1.1.1
requests==2.32.4
rsa==4.9.1
setuptools==78.1.1.post0
soupsieve==2.7
SQLAlchemy==2.0.44
Telethon==1.41.2
typing_extensions==4.14.1
urllib3==2.5.0
wheel==0.45.1
